.banner{
    border: 1px solid red;
    margin: auto;
    height: 800px;
    background-image: url("../images/DOGE.png"), url(../images/back.png);
    background-repeat: no-repeat;
    background-position-x: 95%,110%;
    background-position-y: 160px,0%;
    background-size: 650px,1420px;
}
nav{
    margin-left: 150px;
}
nav img{
    padding-top: 10px;
    width: 150px;
}
nav ul{
    display: inline-block;
    vertical-align: top;
    padding-left: 250px;

}
nav li{
    display: inline-block;
    list-style-type: none;
    padding-left: 50px;
    padding-top: 10px;

}
nav li a{
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: #092E20;
}
nav li a:hover{
    color: orange;
    
}
.about{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    padding: 60px 0px;
    color: #092E20;
    margin-left: 150px;
}
.about h1{
    font-size: 45pt;
}
.about p{
    font-size: 25pt;
}
.about img{
    width: 50px;
    display: inline-block;
    padding-right: 15px;

}
.about .twitter{
    padding-bottom: 10px;
}
.about button{
    display: block;
    margin-top: 100px;
    margin-bottom: 70px;
    background: linear-gradient(90deg, rgba(255,141,19,1) 0%, rgba(255,220,17,1) 100%);
    border: 0px;
    cursor: pointer;
    padding : 15px 20px;
}
.about button a{
    font-size: 14pt;
    text-decoration: none;
    color: white;
}


.stats{
    margin-left: 150px;
}
.stats .mid{
    display: inline-block;
    border: 1px solid white;
    padding: 1px;
    text-align: center;
    margin-right: 15px;
    background-color: rgb(250, 245, 239);
    width: 220px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    border-radius: 10px;

}
.stats .mid h2{
   color:rgb(255,141,19);
}
.stats .mid p{
    display: inline-block;
}
.section{
    background-image: url("../images/dogem.png"),url("../images/backm.png");
    background-repeat: no-repeat;
    height: 600px;
    border: 1px solid red;
    background-position-y: 150px,0;
    background-size: 500px,1200px;
    
}
.section p{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    color: #092E20;
}
.section h2{
    margin-left: 850px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    color: #092E20;
    font-size: 45pt;
    margin-bottom: 0px;
}
.section .top{
    margin-top: 100px;
}
.section .box{
    margin-left: 850px;
    /* border: 1px solid red; */
    width: 500px;
    font-size: 14pt;
}
.section button{
    margin-left: 850px;
    background: linear-gradient(90deg, rgba(255,141,19,1) 0%, rgba(255,220,17,1) 100%);
    border: 0px;
    cursor: pointer;
    padding : 15px 20px;
    color: white;
    font-size: 14pt;
}