.banner{
    /* border: 1px solid red; */
    margin: auto;
    height: 800px;
    background-image: url("../images/DOGE.png"), url(../images/back.png);
    background-repeat: no-repeat;
    background-position-x: 95%,110%;
    background-position-y: 160px,0%;
    background-size: 650px,1420px;
}
nav{
    margin-left: 150px;
}
nav img{
    padding-top: 10px;
    width: 150px;
}
nav ul{
    display: inline-block;
    vertical-align: top;
    padding-left: 250px;

}
nav li{
    display: inline-block;
    list-style-type: none;
    padding-left: 50px;
    padding-top: 10px;

}
nav li a{
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: #196247;
}
nav li a:hover{
    color: orange;
    
}
.about{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    padding: 60px 0px;
    color: #196247;
    margin-left: 150px;
}
.about h1{
    font-size: 45pt;
}
.about p{
    font-size: 25pt;
}
.about img{
    width: 50px;
    display: inline-block;
    padding-right: 15px;

}

.about .twitter{
    padding-bottom: 10px;
}
.about button{
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
    background: linear-gradient(90deg, rgba(255,141,19,1) 0%, rgba(255,220,17,1) 100%);
    border: 0px;
    cursor: pointer;
    padding : 15px 20px;
    transition-delay: 0ms;
}
.about button:hover{
    background: red;
}
.about button a{
    font-size: 14pt;
    text-decoration: none;
    color: white;
}


.stats{
    margin-left: 150px;
    padding: 30px 0px;
}
.stats .mid{
    display: inline-block;
    border: 1px solid white;
    padding: 1px;
    text-align: center;
    margin-right: 15px;
    background-color: rgb(250, 245, 239);
    width: 220px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    border-radius: 10px;
    padding-top: 20px;

}
.stats .mid h2{
    background: #FFB76B;
    background: -webkit-linear-gradient(to right, #FFB76B 17%, #FFA73D 40%, #FF7C00 67%, #FF7F04 100%);
    background: -moz-linear-gradient(to right, #FFB76B 17%, #FFA73D 40%, #FF7C00 67%, #FF7F04 100%);
    background: linear-gradient(to right, #FFB76B 17%, #FFA73D 40%, #FF7C00 67%, #FF7F04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25pt;
    font-weight: 700;
    margin: 0px;
}
.stats .mid p{
    display: inline-block;
    font-size: 14pt;
    color: #196247;
}
.section{
    background-image: url("../images/dogem.png"),url("../images/backm.png");
    background-repeat: no-repeat;
    height: 600px;
    background-position-y: 150px,0;
    background-size: 500px,1200px;
    margin-top: 100px;
    
}
.section .content{
    width: 700px;
    margin-left:60%;
    /* border: 1px solid red; */
}
.section p{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    color: #196247;

}
.section h4{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;

}
.section h2{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    color:#196247;
    font-size: 45pt;
    margin-bottom: 0px;
    margin-top: 0px;
}
.section .top{
    margin-top: 20px;
}
.section .box{
    /* border: 1px solid red; */
    width: 500px;
    font-size: 14pt;
    margin-bottom: 90px;
}
.section button{

    background: linear-gradient(90deg, rgba(255,141,19,1) 0%, rgba(255,220,17,1) 100%);
    border: 0px;
    cursor: pointer;
    padding : 15px 20px;
    color: white;
    font-size: 14pt;
    margin-bottom: 40px;
    transition-delay:none;
}
.section .button:hover{
    background: red;
    color:white;
}
.services{
    margin-top: 40px;
    width: 1200px;
    margin: auto;
    /* border: 1px solid red; */
}
.services .one{
    margin-left: 67px;
}
.services .text{
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    color: #196247;
    font-size: 14pt;

}
.services h3{
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-size: 45pt; */
}
.services .top,.bot{
    font-size: 45pt;

}
.services .bot{
    margin-bottom: 40px;
}
.services .one,.two,.three{
    display: inline-block;
    width: 300px;
    height: 400px;
    background-color: rgb(215, 237, 250);
    text-align: center;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    color: #196247;
    margin-right: 20px;
}
.services .one img{
    width: 300px;

}
.services .two img{
    width: 182px;
}
.services .three img{
    width: 357px;
}
.services .size{
    font-size: 18pt;
}
.services .learn{
    text-decoration: none;
    font-size: 14pt;
    font-weight: 600;
    color: #196247;

}
.blog{
    padding-top: 40px;
    margin-top: 40px;
    width: 1200px;
    margin: auto;
    /* border: 1px solid red; */
}
.blog .text{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    color: #196247;
    font-size: 14pt;
}
.blog .top,.bot{
    font-size: 45pt;
    margin-bottom: 0px;
    margin-top: 0px;
}
.blog .bot{
    margin-bottom: 40px;
}
.blog .con, .one{
    display: inline-block;
    width: 340px;
    height: 550px;
    background-color: rgb(252, 227, 173);
    text-align: left;
    
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka', sans-serif;
    color: #196247;
    margin-right:20px;
}
.blog .one{
    margin-left: 67px;
}
.blog .con h3,p{
    padding: 0px 20px;
}
.blog .one h3,p{
    padding: 0px 20px;    
}

.blog img{
    width: 340px;
    height: 300px;
    
}
.blog .con h3{
    font-size: 18pt;
}
.blog .one h3{
    font-size: 18pt;
}
.blog .lt{
    text-decoration: none;
    font-size: 14pt;
    padding: 20px;
    font-weight: 600;
    color: #196247;
}
.logos{
    text-align: center;
}
.logos img {
    width: 200px;
    display: inline-block;
    padding: 100px 0px;
    padding-right: 20px;
}

footer {
    text-align: center;
    height: 500px;
    background-color: rgb(29, 29, 94);
}
footer .foot img{
    display: inline-block;
    text-align: center;
    width: 200px;
    padding-top: 150px;
}
footer ul{
    text-align: center;
    vertical-align: top;
    /* margin-left: 500px; */

}
footer li{
    display: inline-block;
    list-style-type: none;
    padding-right: 50px;
    padding-top: 10px;

}
footer li a{
    text-decoration: none;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
}
footer li a:hover{
    color: orange;
    
}
footer p{
    text-align: center;
    color: orange;
}
footer p span{
    color:white;
}